<p>This is the about view.</p>

<form name="myForm">
    <value-slider name="mySlider" ng-model="price" ng-change="logPrice( price )" value-slider-min="11" value-slider-max="308"></value-slider>
    <br>
    <value-slider value-slider-min="11" value-slider-max="308"></value-slider>
    <br>
    <value-slider ng-model="rating" ng-change="logPrice( rating )" value-slider-min="11" value-slider-max="308"></value-slider>
    <br>
    Price: {{ price }}
    <br>
    Rating: {{ rating }}
    <br>
    <input ng-model="price" ng-model-options="{ updateOn: 'blur' }" ng-list string-to-number>
    <input ng-model="rating" ng-model-options="{ updateOn: 'blur' }" ng-list string-to-number>

    <p ng-show="myForm.mySlider.$error.min">Price too low</p>
    <p ng-show="myForm.mySlider.$error.max">Price too high</p>
</form>
