<form class="form-inline">
    <div class="form-group">
        <label class="control-label">Name</label>
        <div>
            <input type="text" class="form-control" ng-model="filters.name" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }" ng-trim="true">
        </div>
    </div>
    <br><br>

    <div class="form-group">
        <label class="control-label">Stars from</label>
        <div>
            <select class="form-control" ng-model="filters.starsFrom" ng-change="updateStarsTo()" convert-to-number>
                <option ng-repeat="s in stars" value="{{ s }}">{{ s }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Stars to</label>
        <div>
            <select class="form-control" ng-model="filters.starsTo" ng-change="updateStarsFrom()" convert-to-number>
                <option ng-repeat="s in stars" value="{{ s }}">{{ s }}</option>
            </select>
        </div>
    </div>
    <br><br>

    <div class="form-group">
        <label class="control-label">User Rating from</label>
        <div>
            <select class="form-control" ng-model="filters.userRatingFrom" ng-change="updateUserRatingTo()">
                <option ng-repeat="rating in userRatings" value="{{ rating }}">{{ rating }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">User Rating to</label>
        <div>
            <select class="form-control" ng-model="filters.userRatingTo" ng-change="updateUserRatingFrom()">
                <option ng-repeat="rating in userRatings" value="{{ rating }}">{{ rating }}</option>
            </select>
        </div>
    </div>
</form>
<br><br>

<!-- <pre>filters: {{ filters |json }}</pre> -->

<div ui-view=""></div>
