<nav ng-if="hotels && hotels.length > 0">
    <ul class="pagination">
        <li ng-if="page > 1">
            <a ui-sref="{ page: 1 }" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li ng-if="page > 1">
            <a ui-sref="{ page: {{ page - 1 }} }" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="p in paginationRange" ng-class="{ active: p === page }">
            <a ui-sref="{ page: {{ p }} }">{{ p }}</a>
        </li>
        <li ng-if="page < pagesTotal">
            <a ui-sref="{ page: {{ page + 1 }} }" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li ng-if="page < pagesTotal">
            <a ui-sref="{ page: pagesTotal }" aria-label="Last">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</nav>
