<div class="well" ng-if="hotels && hotels.length > 0">
    Total number of results: {{ resultsTotal }}
</div>

<div class="text-center" ng-include="'views/pagination.html'"></div>

<table class="table table-striped table-hover" ng-if="hotels && hotels.length > 0">
    <thead>
        <tr>
            <th>#</th>
            <th>Distance
                <a href="" ng-click="toggleOrder( 'Distance', 'asc' )">
                    <span class="glyphicon glyphicon-sort-by-attributes" ng-class="{ active: filters.orderBy === 'Distance' && filters.order === 'asc' }">
                    </span>
                </a>
                <a href="" ng-click="toggleOrder( 'Distance', 'desc' )">
                    <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-class="{ active: filters.orderBy === 'Distance' && filters.order === 'desc' }">
                    </span>
                </a>
            </th>
            <th>Location</th>
            <th>Minimum Cost
                <a href="" ng-click="toggleOrder( 'MinCost', 'asc' )">
                    <span class="glyphicon glyphicon-sort-by-attributes" ng-class="{ active: filters.orderBy === 'MinCost' && filters.order === 'asc' }">
                    </span>
                </a>
                <a href="" ng-click="toggleOrder( 'MinCost', 'desc' )">
                    <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-class="{ active: filters.orderBy === 'MinCost' && filters.order === 'desc' }">
                    </span>
                </a>
            </th>
            <th>Name</th>
            <th>Stars
                <a href="" ng-click="toggleOrder( 'Stars', 'asc' )">
                    <span class="glyphicon glyphicon-sort-by-attributes" ng-class="{ active: filters.orderBy === 'Stars' && filters.order === 'asc' }">
                    </span>
                </a>
                <a href="" ng-click="toggleOrder( 'Stars', 'desc' )">
                    <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-class="{ active: filters.orderBy === 'Stars' && filters.order === 'desc' }">
                    </span>
                </a>
            </th>
            <th>User Rating
                <a href="" ng-click="toggleOrder( 'UserRating', 'asc' )">
                    <span class="glyphicon glyphicon-sort-by-attributes" ng-class="{ active: filters.orderBy === 'UserRating' && filters.order === 'asc' }">
                    </span>
                </a>
                <a href="" ng-click="toggleOrder( 'UserRating', 'desc' )">
                    <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-class="{ active: filters.orderBy === 'UserRating' && filters.order === 'desc' }">
                    </span>
                </a>
            </th>
            <th>User Rating Count</th>
            <th>Thumbnail</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="hotel in hotels track by $index">
            <th scope="row">{{ ( page - 1 ) * resultsPerPage + $index + 1 }}</th>
            <td>{{ hotel.Distance }}</td>
            <td>{{ hotel.Location }}</td>
            <td>{{ hotel.MinCost }}</td>
            <td>{{ hotel.Name }}</td>
            <td>{{ hotel.Stars }}</td>
            <td>{{ hotel.UserRatingTitle }} ( {{ hotel.UserRating }} )</td>
            <td>{{ hotel.UserRatingCount }}</td>
            <td><img ng-src="{{ hotel.ThumbnailUrl }}"></td>
        </tr>
    </tbody>
</table>

<div class="text-center" ng-include="'views/pagination.html'"></div>

<div class="well" ng-if="hotels && hotels.length === 0">
    No matching results
</div>
